<hr/>
<div class="row" *ngFor="let r of ratingsProvider">
  <div class="col-12">
    <p>{{r.nome}}</p>
    <div *ngFor="let recipient of r.ratings.tipoNota | keyvalue">
      <p> {{recipient.key}}
        {{recipient.value}}
        <ngx-stars [color]="'#ffd400'" [readonly]="true" [initialStars]="recipient.value"></ngx-stars>
      </p>
    </div>

    <!-- <button mat-raised-button class="font-btn-nav width-btn">Avaliar</button> -->
  </div>

  <!-- <app-escrever-comentario></app-escrever-comentario> -->
</div>
