<div class="container justify-content-center d-flex mt-3">
  <a [routerLink]="['/home']">
    <img src="assets/site/logo.png" alt="Logo">
  </a>
</div>
<hr/>
<div class="w-100 text-center">
  <h2 class="mb-0">TERMOS E CONDIÇÕES GERAIS DE USO DA PLATAFORMA</h2>
  <h4>Verifique aqui os termos e condições gerais de uso do DeCasa</h4>
</div>

<div class="container text-justify">
  <h3>PRADO MOBILE SYSTEMS TECNOLOGIA LTDA (“DeCasa”)</h3>
  <p>Sociedade empresária limitada, inscrita no CNPJ/MF sob o nº. 14.408.539/0001-99, é uma pessoa jurídica de direito
    privado prestadora de serviços de intermediação de negócios, realizados entre promitentes contratantes
    (“Contratante”) e promitentes Prestadores de serviço (“Prestadores”), por meio do aplicativo e do site DeCasa
    (“Plataforma”).</p>
  <p>Por intermédio destes Termos e Condições Gerais de Uso (“Termos”), DeCasa apresenta aos usuários em geral, aos
    Contratantes e aos Prestadores (todos em conjunto denominados “Usuários”) as condições essenciais para o uso dos
    serviços oferecidos na Plataforma.</p>
  <p>Ao utilizar a Plataforma ou utilizar os serviços ofertados por DeCasa, os Usuários aceitam e se submetem às
    condições destes Termos e às Políticas de Privacidade, bem como a todos os documentos anexos a estes.</p>

  <ol>
    <li>
      OBJETO
      <ol>
        <li>Os serviços objeto dos presentes Termos consistem em:</li>
        <ol>
          <li>Permitir aos Contratantes que utilizem a Plataforma para livremente e sem direcionamento ou interferência
            realizem orçamentos e contratem Prestadores;
          </li>
          <li>O Modelo de Orçamento Imediato, apresenta uma proposta de preços instantânea baseada nas quantidades de
            serviços declaradas pelos Contratantes. A plataforma DeCasa calcula o preço do total dos serviços baseada em
            sua lógica própria, então gera uma proposta de preços ao Contratante. Caso a proposta seja contratada, a
            plataforma DeCasa verificará quais Prestadores estão disponíveis para o dia agendado, então retornará com
            uma lista de Prestadores disponíveis para o Contratante escolher seu Prestador baseado em informações do
            perfil do deste.
          </li>
          <li>Viabilizar a contratação imediata entre Contratantes e Prestadores interessados em contratar Serviços, por
            meio da divulgação das informações de perfil de uma parte à outra.
          </li>
        </ol>
        <li>DeCasa, portanto, possibilita que os Contratantes consigam Prestadores disponíveis com preço
          pré-determinado, atuando exclusivamente como Intermediador de Negócios, não sendo, nesta qualidade, fornecedor
          de quaisquer Serviços anunciados por seus Usuários na Plataforma.
        </li>
        <li>Na qualidade de Intermediador de Negócios, DeCasa não se responsabiliza pela qualidade, ou entrega dos
          Serviços contratados entre os Usuários.
        </li>
        <li>Ao se cadastrar, o Usuário poderá utilizar todos os serviços disponibilizados na Plataforma disponíveis para
          sua região, declarando, para tanto, ter lido, compreendido e aceitado os Termos.
        </li>
      </ol>
    </li>

    <li>
      CAPACIDADE PARA CADASTRAR-SE
      <ol>
        <li>Os serviços de DeCasa estão disponíveis para pessoas físicas e pessoas jurídicas regularmente inscritas nos
          cadastros de contribuintes federal e estaduais que tenham capacidade legal para contratá-los. Não podem
          utilizá-los, assim, pessoas que não gozem dessa capacidade, inclusive menores de idade ou pessoas que tenham
          sido inabilitadas do DeCasa, temporária ou definitivamente. Ficam, desde já, os Usuários advertidos das
          sanções legais cominadas no Código Civil.Os serviços de DeCasa estão disponíveis para pessoas físicas e
          pessoas jurídicas regularmente inscritas nos cadastros de contribuintes federal e estaduais que tenham
          capacidade legal para contratá-los. Não podem utilizá-los, assim, pessoas que não gozem dessa capacidade,
          inclusive menores de idade ou pessoas que tenham sido inabilitadas do DeCasa, temporária ou definitivamente.
          Ficam, desde já, os Usuários advertidos das sanções legais cominadas no Código Civil.
        </li>
        <li>
          É vedada a criação de mais de um cadastro por Usuário. Em caso de multiplicidade de cadastros elaborados por
          um só Usuário, DeCasa reserva-se o direito de, a seu exclusivo critério e sem necessidade de prévia anuência
          dos ou comunicação aos Usuários, inabilitar todos os cadastros existentes e impedir eventuais cadastros
          futuros vinculados a estes.
          <ol>
            <li>Somente será permitida a vinculação de um cadastro a um CPF e um e-mail, não podendo haver duplicidade
              de dados em nenhum caso
            </li>
          </ol>
        </li>
        <li>DeCasa pode unilateralmente excluir o cadastro dos Usuários quando verificado que a conduta do Usuário é ou
          será prejudicial ou ofensiva a outros Usuários, o DeCasa e seus funcionários ou a terceiros.
        </li>
      </ol>

    </li>


    <li>
      CADASTRO
      <ol>
        <li>É necessário o preenchimento completo de todos os dados pessoais exigidos por DeCasa no momento do
          cadastramento, para que o Usuário esteja habilitado a utilizar a Plataforma.
        </li>
        <li>É de exclusiva responsabilidade dos Usuários fornecer, atualizar e garantir a veracidade dos dados
          cadastrais, não cabendo ao DeCasa qualquer tipo de responsabilidade civil e criminal resultante de dados
          inverídicos, incorretos ou incompletos fornecidos pelos Usuários.
        </li>
        <li>DeCasa se reserva o direito de utilizar todos os meios válidos e possíveis para identificar seus Usuários,
          bem como de solicitar dados adicionais e documentos que estime serem pertinentes a fim de conferir os dados
          pessoais informados.
        </li>
        <li>Caso DeCasa considere um cadastro, ou as informações nele contidas, suspeito de conter dados errôneos ou
          inverídicos, DeCasa se reserva o direito de suspender, temporária ou definitivamente, o Usuário responsável
          pelo cadastramento, assim como impedir e bloquear qualquer publicidade ou cadastro de Serviços e cancelar
          anúncios publicados por este, sem prejuízo de outras medidas que entenda necessárias e oportunas. No caso de
          aplicação de quaisquer destas sanções, não assistirá aos Usuários direito a qualquer tipo de indenização ou
          ressarcimento por perdas e danos, lucros cessantes ou danos morais.
        </li>
        <li>O Usuário acessará sua conta por meio do número do telefone e senha, comprometendo-se a não informar a
          terceiros esses dados, responsabilizando-se integralmente pelo uso que deles seja feito.
        </li>
        <li>O Usuário compromete-se a notificar DeCasa imediatamente, por meio dos canais de contato mantidos na
          Plataforma, a respeito de qualquer uso não autorizado de sua conta. O Usuário será o único responsável pelas
          operações efetuadas em sua conta, uma vez que o acesso só será possível mediante a utilização de senha de seu
          exclusivo conhecimento.
        </li>
        <li>Em nenhuma hipótese será permitida a cessão, a venda, o aluguel ou outra forma de transferência da conta.
          Não se permitirá, ainda, a criação de novos cadastros por pessoas cujos cadastros originais tenham sido
          cancelados por infrações às políticas de DeCasa.
        </li>
        <li>
          O apelido que o Usuário utiliza em DeCasa não poderá guardar semelhança com o nome DeCasa. Tampouco poderá ser
          utilizado qualquer apelido que insinue ou sugira que os Serviços serão prestados por DeCasa ou que fazem parte
          de promoções suas. Também serão eliminados apelidos considerados ofensivos ou que infrinjam a legislação em
          vigor.
          <ol>
            <li>Não é permitido aos Prestadores se apresentarem aos Contratantes como funcionários, prestadores de
              serviço ou contratados de DeCasa. Os Contratantes entendem que os Prestadores não são subordinados ao
              DeCasa de nenhuma forma.
            </li>
          </ol>
        </li>
        <li>DeCasa se reserva o direito de, unilateralmente e sem prévio aviso, recusar qualquer solicitação de cadastro
          e de cancelar um cadastro previamente aceito.
        </li>
        <li>DeCasa realiza uma análise prévia dos documentos dos Prestadores que se cadastram na Plataforma, podendo
          aceitar ou recusar o cadastro
        </li>
      </ol>
    </li>

    <li>MODIFICAÇÕES DOS TERMOS E CONDIÇÕES GERAIS
      <ol>
        <li>DeCasa poderá alterar, a qualquer tempo e a seu único e exclusivo critério, estes Termos. Os novos Termos
          entrarão em vigor 10 (dez) dias depois de publicados na Plataforma. No prazo de 5 (cinco) dias contados a
          partir
          da publicação das modificações, o Usuário deverá informar, por e-mail, caso não concorde com os termos
          alterados. Nesse caso, o vínculo contratual deixará de existir, desde que não haja contas ou dívidas em
          aberto.
          Não havendo manifestação no prazo estipulado, entender-se-á que o Usuário aceitou tacitamente os novos Termos,
          e
          o contrato continuará vinculando as partes.
          <ol>
            <li>As alterações não vigorarão em relação a negociações entre Prestador e Contratante já iniciados ao tempo
              em que tais alterações sejam publicadas. Apenas para estes, os Termos valerão com a redação anterior.
            </li>
          </ol>
        </li>


        <li>
          Os serviços oferecidos por DeCasa poderão ser diferentes para cada região do país. Estes Termos deverão ser
          interpretados de acordo com a região em que foi efetuado o cadastro do Prestador.
        </li>
      </ol>
    </li>

    <li>ACEITE DE ORÇAMENTOS

      <ol>
        <li>No Modelo de Orçamento Imediato, os Contratantes informarão as quantidades dos Serviços que pretendem
          contratar para obter uma Proposta de Preços instantânea. É de exclusiva responsabilidade do Contratante
          informar as quantidades corretas dos serviços a serem contratados. Caso o Contratante não saiba as quantidades
          e precise de ajuda, deverá contratar o serviço de Visita Técnica.
        </li>
        <li>Os dados de contato do Contratante somente serão disponibilizados ao Prestador, e vice versa, após a
          efetivação da Contratação na Plataforma.
        </li>
        <li>O Prestador receberá um convite de trabalho com a descrição e o valor total dos serviços a serem executados,
          sendo que as quantidades foram informadas pelo Contratante. O Prestador deverá avaliar e poderá aceitar ou
          recusar a proposta. Caso aceite, concordará em receber apenas aquela quantia total pela quantidade e descrição
          de serviços contratados.
        </li>
      </ol>
    </li>

    <li>PRIVACIDADE DA INFORMAÇÃO
      <ol>
        <li>Todas as informações ou os dados pessoais prestados pelo Usuário do DeCasa são armazenados em servidores ou
          meios magnéticos de alta segurança.
        </li>
        <li>DeCasa tomará todas as medidas possíveis para manter a confidencialidade e a segurança descritas nesta
          cláusula, mas não será responsável por prejuízo que possa ser derivado da violação dessas medidas por parte de
          terceiros que utilizem de meios indevidos, fraudulentos ou ilegais para acessar as informações armazenadas nos
          servidores ou nos bancos de dados utilizados por DeCasa.
        </li>
        <li>DeCasa poderá utilizar e ceder os dados fornecidos pelos Usuários e as informações relativas ao uso da
          plataforma, para quaisquer finalidades, incluindo, mas não se limitando a, fins comerciais, publicitários,
          educativos e jornalísticos.
        </li>
        <li>DeCasa também poderá utilizar os dados dos Usuários e Parceiras para análises, estudos, elaboração de
          relatórios, tudo conforme necessário para o bom funcionamento e o desenvolvimento da plataforma e dos serviços
          oferecidos.
        </li>
        <li>Os Usuários concordam que as suas informações pessoais serão enviadas para a outra Parte, Prestador ou
          Contratante, para que seja possível a comunicação entre as Partes em caso de efetivação da contratação do
          serviço.
        </li>
        <li>DeCasa coletará as informações pertinentes às transações ou outros negócios realizados por meio do DeCasa e
          poderá utilizá-las ou divulgá-las para fins comerciais ou de aperfeiçoamento de suas funcionalidades.
        </li>
        <li>DeCasa não tem acesso ao conteúdo das ligações ou comunicações entre os Usuários.</li>
        <li>DeCasa, por motivos legais, manterá em seu banco de dados todas as informações coletadas dos Usuários que
          excluírem seus cadastros.
        </li>
        <li>O apelido e a senha de cada Usuário servem para garantir a privacidade e a sua segurança. DeCasa recomenda a
          seus Usuários que não compartilhem essas informações com ninguém. DeCasa não se responsabiliza por danos ou
          prejuízos causados ao Usuário pelo compartilhamento dessas informações.
        </li>
        <li>Toda informação prestada pelos Usuários ao DeCasa é protegida por empresas especializadas.</li>
        <li>DeCasa segue os padrões de segurança comumente utilizados pelas empresas que trabalham com transmissão e
          retenção de dados para garantir a segurança de seus Usuários. No entanto, nenhum método de transmissão ou
          retenção de dados eletrônicos é plenamente seguro e pode estar sujeito a ataques externos. Assim, apesar de
          utilizar todos os meios possíveis e adequados, DeCasa não pode garantir a absoluta segurança das informações
          prestadas.
        </li>
        <li>DeCasa coleta e guarda todas as informações prestadas por seus usuários durante a utilização de sua
          plataforma, incluindo no momento do cadastramento, para uso próprio e de seus parceiros comerciais.
        </li>
        <li>O nome, e-mail e outros dados dos Usuários poderão ser utilizados para o envio de notificações, informações
          sobre a conta ou Serviços prestados, avisos sobre violações ao Termo e outras comunicações que DeCasa
          considerar necessárias. Os Usuários poderão requisitar a DeCasa a sua exclusão de sua lista de envio de
          mensagens (mailing).
        </li>
        <li>DeCasa prestará todas as informações requisitadas por órgãos públicos, desde que devidamente justificadas e
          compatíveis com a lei em vigor.
        </li>
        <li>DeCasa utiliza cookies e softwares de monitoramento de seus Usuários para prover a seus Usuários a melhor
          navegação possível, baseado em suas necessidades, e para pesquisas internas. Esses cookies não coletam
          informações pessoais, apenas informam preferências de uso e de navegação de cada Usuário, além de prover ao
          DeCasa estatísticas e dados para aprimorar seus serviços.
        </li>
      </ol>
    </li>

    <li>TARIFAS
      <ol>
        <li>Os Prestadores deverão pagar uma taxa única de cadastro para ter suas contas ativadas. A cargo do DeCasa,
          esta taxa poderá ser dispensada em períodos promocionais.
        </li>
        <li>Os Prestadores pagarão ao DeCasa a taxa de 20% (vinte por cento) sobre todos os serviços intermediados pela
          Plataforma, a título de remuneração pela prospecção de clientes e manutenção da Plataforma
        </li>
        <li>Esta taxa de serviços de 20% poderá ser reduzida conforme plano de Marketing do DeCasa, caso o Prestador
          atinja as metas estabelecidas
        </li>
      </ol>
    </li>

    <li>POLÍTICA DE CANCELAMENTO
      <ol>
        <li>Os Usuários poderão cancelar suas contas a qualquer momento bastando para isto desinstalar o aplicativo ou
          enviando email para falacomigo@appdecasa.com.br solicitando a exclusão da conta
        </li>
      </ol>
    </li>

    <li>SERVIÇOS E ANÚNCIOS E ORÇAMENTOS PROIBIDOS
      <ol>
        <li>DeCasa é uma plataforma de intermediação de negócios de Serviços, estando proibida a veiculação de qualquer
          anúncio ou pedido de orçamento de venda, aluguel, troca ou qualquer forma de transferência de posse ou
          propriedade de qualquer bem móvel ou imóvel.
        </li>
        <li> Estão proibidas também a veiculação de anúncios de serviços ilegais de acordo com a legislação vigente ou
          que possam ser considerados ofensivos a terceiros.
        </li>
        <li> DeCasa excluirá, unilateralmente e sem qualquer comunicação prévia, aquele Usuário que desrespeitar as
          regras contidas nesta seção.
          <ol>
            <li>DeCasa realiza uma análise prévia dos documentos dos Prestadores que se cadastram na Plataforma, podendo
              aceitar ou recusar o cadastro
            </li>
          </ol>
        </li>
      </ol>
    </li>

    <li>SISTEMA DE QUALIFICAÇÃO DOS PRESTADORES
      <ol>
        <li>Os Prestadores aceitam e se submetem ao sistema de qualificação adotado por DeCasa.</li>
        <li> Os Prestadores concordam que o DeCasa poderá cancelar, excluir ou suspender por tempo indeterminado
          cadastros que apresentem qualificações negativas de forma reiterada.
        </li>
        <li> Não assistirá aos Prestadores qualquer tipo de indenização ou ressarcimento por perdas e danos, lucros
          cessantes e danos morais, em razão da qualificação atribuída pelos Contratantes aos Serviços prestados
        </li>
        <li> Tendo em vista que os comentários postados são opiniões pessoais dos Usuários, estes serão responsáveis
          pelas opiniões publicadas na Plataforma, seja perante DeCasa, perante os Prestadores, terceiros, órgãos
          governamentais ou demais Usuários do site, isentando DeCasa de qualquer responsabilidade relativa à veiculação
          dos comentários.
          <ol>
            <li>DeCasa não excluíra comentários ou qualificações sobre os Prestadores. Somente o Usuário responsável
              pelo comentário ou qualificação poderá remover ou alterar os comentários ou qualificações.
            </li>
          </ol>
        </li>

        <li>DeCasa se reserva o direito de excluir unilateralmente e a seu exclusivo critério, comentários que contenham
          e cadastros de Usuários que pratiquem:
          <ol>
            <li>Ofensa à honra, imagem, reputação e dignidade de terceiros;</li>
            <li> Pornografia, pedofilia, e outras modalidades de satisfação sexual;</li>
            <li> Racismo ou discriminação de qualquer natureza;</li>
            <li> Bullying, Stalking ou qualquer outra espécie de constrangimento ilegal ou assédio;</li>
            <li> Manifesta violação a direito autoral ou direito de imagem;</li>
            <li> Utilização de marcas, símbolos, logotipos ou emblemas de terceiros;</li>
            <li> Instigação ou apologia à prática de crimes, como tráfico ou uso de entorpecentes, estupro, homicídio,
              estelionato, dentre outros;
            </li>
            <li> Erros ou suspeita de equívocos.</li>
          </ol>
        </li>
      </ol>
    </li>


    <li>OBRIGAÇÕES DOS USUÁRIOS
      <ol>
        <li>O Prestador deve ter capacidade legal para prestar o Serviço.</li>
        <li> Em virtude do DeCasa não figurar como parte nas transações de contratação dos Serviços que se realizam
          entre os Usuários, a responsabilidade por todas as obrigações delas decorrentes, sejam fiscais, trabalhistas,
          consumeristas ou de qualquer outra natureza, será exclusivamente do Contratante, do Prestador ou de ambos,
          conforme o caso. Na hipótese de interpelação judicial que tenha como Réu DeCasa, cujos fatos fundem-se em
          ações do Prestador, este será chamado ao processo, devendo arcar com todos os ônus que daí decorram, incluindo
          despesas com taxas, emolumentos, acordos, honorários advocatícios entre outros. Por não figurar como parte nas
          transações que se realizam entre os Usuários, DeCasa também não pode obrigar os Usuários a honrarem suas
          obrigações.
        </li>
        <li> O Prestador deverá ter em mente que, na medida em que atue como um fornecedor de serviços, sua oferta o
          vincula, nos termos do artigo 30 do Código de Defesa do Consumidor e do artigo 429 do Código Civil, cujo
          cumprimento poderá ser exigido judicialmente pelo Contratante
        </li>
        <li> DeCasa não se responsabiliza pelas obrigações tributárias que recaiam sobre as atividades dos Usuários.
          Assim como estabelece a legislação pertinente em vigor, o Contratante deverá exigir nota fiscal do Prestador
          em suas transações. O Prestador, nos moldes da lei vigente, responsabilizar-se-á pelo cumprimento da
          integralidade das obrigações oriundas de suas atividades, notadamente aquelas referentes a tributos
          incidentes.
        </li>
      </ol>
    </li>

    <li>PRÁTICAS VEDADAS
      <ol>
        <li>É terminantemente vedado aos Usuários, entre outras atitudes previstas nestes Termos, realizar negociações
          por fora da Plataforma. Caso isto ocorra, o DeCasa não terá obrigação alguma de dar assistência aos Usuários.
        </li>
        <li> É proibido aos Prestadores se candidatarem a profissões que não possuam qualificação e experiência adequada
          para desenvolvê-las.
        </li>
        <li> Os Usuários não poderão: (i) Obter, guardar, divulgar, comercializar e/ou utilizar dados pessoais sobre
          outros Usuários para fins comerciais ou ilícitos; (ii) Usar meios automáticos, incluindo spiders, robôs,
          crawlers, ferramentas de captação de dados ou similares para baixar dados do site (exceto ferramentas de busca
          na Internet e arquivos públicos não comerciais); (iii) Burlar, ou tentar burlar, de qualquer forma que seja, o
          sistema, mecanismo e/ou a plataforma do site.
        </li>
      </ol>
    </li>

    <li>VIOLAÇÃO NO SISTEMA OU DA BASE DE DADOS
      <ol>
        <li>É vedada a utilização de dispositivo, software ou outro recurso que possa interferir nas atividades e nas
          operações de Plataforma, bem como nos anúncios, nas descrições, nas contas ou em seus bancos de dados.
          Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade
          intelectual e as proibições estipuladas nestes Termos tornará o responsável passível de sofrer os efeitos das
          ações legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável por indenizar DeCasa ou
          seus Usuários por eventuais danos causados.
        </li>
      </ol>
    </li>


    <li>SANÇÕES
      <ol>
        <li>Sem prejuízo de outras medidas, DeCasa poderá, a seu exclusivo critério e sem necessidade de prévia anuência
          dos ou comunicação aos Usuários, advertir, suspender ou cancelar, temporária ou permanentemente, o cadastro ou
          os anúncios do Usuário, podendo aplicar sanção que impacte negativamente em sua reputação, a qualquer tempo,
          iniciando as ações legais cabíveis e suspendendo a prestação de seus serviços, se: (i) o Usuário não cumprir
          qualquer dispositivo destes Termos e as demais políticas do DeCasa; (ii) descumprir com seus deveres de
          Usuário; (iii) praticar atos delituosos ou criminais; (iv) não puder ser verificada a identidade do Usuário,
          qualquer informação fornecida por ele esteja incorreta ou se as informações prestadas levarem a crer que o
          cadastro seja falso ou de pessoa diversa; (v) DeCasa entender que o Usuário tenha causado algum dano a
          terceiros ou ao DeCasa ou tenham a potencialidade de assim o fazer.
        </li>
        <li> Nos casos de suspensão, temporária ou permanente, do cadastro do Prestador, este deixará de receber
          convites de trabalhos.
        </li>
        <li> DeCasa se reserva o direito de, a qualquer momento e a seu exclusivo critério, solicitar o envio de
          documentação pessoal ou de qualquer documento que comprove a veracidade das informações cadastrais.
          <ol>
            <li>Em caso de requisição de documentos, quaisquer prazos determinados nestes Termos só serão aplicáveis a
              partir da data de recebimento dos documentos solicitados ao Prestador por DeCasa.
            </li>
          </ol>
        </li>
      </ol>
    </li>

    <li>RESPONSABILIDADE
      <ol>
        <li>DeCasa não se responsabiliza por vícios ou defeitos técnicos e/ou operacionais oriundos do sistema do
          Usuário ou de terceiros.
        </li>
        <li> DeCasa não é responsável pela entrega dos Serviços contratados na Plataforma.</li>
        <li> DeCasa tampouco se responsabiliza pela existência, quantidade, qualidade, estado, integridade ou
          legitimidade dos Serviços oferecidos ou contratados pelos Usuários, assim como pela capacidade para contratar
          dos Usuários ou pela veracidade dos dados pessoais por eles fornecidos. DeCasa, por não ser proprietária,
          depositante ou detentora dos produtos oferecidos, não outorga garantia por vícios ocultos ou aparentes nas
          negociações entre os Usuários. Cada Usuário conhece e aceita ser o único responsável pelos Serviços que
          anuncia ou pelas ofertas que realiza.
        </li>
        <li> DeCasa não será responsável por ressarcir seus Usuários por quaisquer gastos com ligações telefônicas,
          pacotes de dados, SMS, mensagens, emails, correspondência ou qualquer outro valor despendido pelo Usuário em
          razão de contato com DeCasa ou quaisquer outros Usuário, por qualquer motivo que o seja.
        </li>
        <li> DeCasa não poderá ser responsabilizada pelo efetivo cumprimento das obrigações assumidas pelos Usuários. Os
          Usuários reconhecem e aceitam que, ao realizar negociações com outros Usuários, fazem-no por sua conta e
          risco, reconhecendo o DeCasa como mero fornecedor de serviços de disponibilização de espaço virtual para
          intermediação de negócios dos Serviços ofertados por terceiros.
        </li>
        <li> Em nenhum caso DeCasa será responsável pelo lucro cessante ou por qualquer outro dano e/ou prejuízo que o
          Usuário possa sofrer devido às negociações realizadas ou não realizadas por meio de Plataforma, decorrentes da
          conduta de outros Usuários.
        </li>
        <li> Por se tratar de contratações realizadas por meio eletrônico entre dois Usuários que não se conheciam
          previamente à negociação, DeCasa recomenda que toda transação seja realizada com cautela e prudência.
        </li>
        <li> Caso um ou mais Usuários ou algum terceiro inicie qualquer tipo de reclamação ou ação legal contra outro ou
          outros Usuários, todos e cada um dos Usuários envolvidos nas reclamações ou ações eximem de toda
          responsabilidade o DeCasa e seus diretores, gerentes, empregados, agentes, operários, representantes e
          procuradores.
        </li>
        <li> DeCasa se reserva o direito de auxiliar e cooperar com qualquer autoridade judicial ou órgão governamental,
          podendo enviar informações cadastrais ou negociais de seus Usuários, quando considerar que seu auxilio ou
          cooperação sejam necessários para proteger seus Usuários, funcionários, colaboradores, administradores, sócios
          ou qualquer pessoa que possa ser prejudicada pela ação ou omissão combatida.
        </li>
      </ol>
    </li>

    <li>ALCANCE DOS SERVIÇOS
      <ol>
        <li>Estes Termos não geram nenhum contrato de sociedade, de mandato, de franquia ou relação de trabalho entre
          DeCasa e o Usuário. O Usuário manifesta ciência de que DeCasa não é parte de nenhuma transação realizada entre
          Usuários, nem possui controle algum sobre a qualidade, a segurança ou a legalidade dos Serviços anunciados
          pelos Usuários, sobre a veracidade ou a exatidão dos anúncios elaborados pelos Usuários, e sobre a capacidade
          dos Usuários para negociar.
        </li>
        <li> DeCasa não pode assegurar o êxito de qualquer transação realizada entre Usuários. DeCasa não garante a
          veracidade das informações prestadas por terceiros que apareça em sua Plataforma e não será responsável pela
          correspondência ou por contratos que o Usuário realize com terceiros.
          <ol>
            <li>DeCasa poderá oferecer aos Prestadores um serviço de conferência, para garantir a sua identidade e dados
              cadastrais. DeCasa poderá informar aos Contratantes quando esse serviço foi utilizado pelo Prestador.
            </li>
            <li> O Prestador que burlar o sistema de conferência a fim de receber vantagens ilícitas será excluído da
              Plataforma e poderão ser tomadas medidas judiciais cabíveis, especialmente de cunho criminal.
            </li>
          </ol>
        </li>
      </ol>
    </li>

    <li>
      PROBLEMAS DECORRENTES DO USO DO SISTEMA
      <ol>
        <li>DeCasa não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo Usuário em razão de falhas
          em sua conexão com a internet, com o seu provedor, no sistema, com o sistema de SMS, com a linha telefônica ou
          no servidor utilizados pelo Usuário, decorrentes de condutas de terceiros, caso fortuito ou força maior.
        </li>
        <li> DeCasa não é responsável pela compatibilidade entre a sua Plataforma e hardwares de propriedade do Usuário.
          O Usuário deverá manter o seu equipamento atualizado e não poderá responsabilizar DeCasa caso a Plataforma não
          seja acessível em equipamentos antiquados.
        </li>
        <li> DeCasa também não será responsável por qualquer vírus, trojan, malware, spyware ou qualquer software que
          possa danificar, alterar as configurações ou infiltrar o equipamento do Usuário em decorrência do acesso, da
          utilização ou da navegação na internet, ou como consequência da transferência de dados, informações, arquivos,
          imagens, textos ou áudio.
        </li>
      </ol>
    </li>


    <li>PROPRIEDADE INTELECTUAL E LINKS
      <ol>
        <li>
          O uso comercial da expressão "DeCasa" como marca, nome empresarial ou nome de domínio, bem como os logos,
          marcas, insígnias, conteúdo das telas relativas aos serviços da Plataforma e o conjunto de programas, bancos
          de dados, redes e arquivos que permitem que o Usuário acesse e use sua conta, são propriedade de DeCasa e
          estão protegidos pelas leis e pelos tratados internacionais de direito autoral, de marcas, de patentes, de
          modelos e de desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos conteúdos são
          proibidos, salvo com autorização expressa de DeCasa.
        </li>
      </ol>
    </li>

    <li>INDENIZAÇÃO
      <ol>
        <li>
          O Usuário indenizará DeCasa, suas filiais, empresas controladas, controladores diretos ou indiretos,
          diretores, administradores, colaboradores, representantes e empregados, inclusive quanto a honorários
          advocatícios, por qualquer demanda promovida por outros Usuários ou terceiros, decorrentes das atividades do
          primeiro na Plataforma, de quaisquer descumprimentos, por aquele, dos Termos e das demais políticas de DeCasa
          ou, ainda, de qualquer violação, pelo Usuário, de lei ou de direitos de terceiros.
        </li>
      </ol>
    </li>


    <li>FORO – RESOLUÇÃO DE CONFLITOS
      <ol>
        <li>Todas as controvérsias originadas com presente contrato serão submetidas obrigatoriamente a Mediação, nos
          termos do que dispõe o regulamento de Mediação da CBMAE – Câmara Brasileira de Mediação e Arbitragem
          Empresarial, na cidade de São Luis-MA ou pela Plataforma online Quero conciliar por vídeo-chamada.
          (www.queroconciliar.org)
        </li>
        <li>A parte que se recusar ou não comparecer a mediação concorda com aplicação de multa de 20% sobre o valor em
          questão.
        </li>
        <li>Todos os convites e comunicações serão feitos por email ou whatsapp.</li>
      </ol>
    </li>

  </ol>
  <!--  Final-->

</div>
