<mat-toolbar>
  <span>Anexar</span>
  <span class="spacer"></span>
  <a (click)="close()" class="cursor"><i class="fas fa-times"></i></a>
</mat-toolbar>

<div class="row mt-3">
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Tipo do anexo</mat-label>
      <mat-select [formControl]="tipoControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let tipo of tiposAnexo" [value]="tipo" [disabled]="tipo.tipoContaCliente.id != 1">
          {{tipo.descricao}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tipoControl.hasError('required')">Por favor, escolha o tipo do documento.</mat-error>

    </mat-form-field>
  </div>


  <div class="col-12 col-md-6">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile"
             (change)="onChange($event)"
      >
      <label class="custom-file-label" for="customFile" id="fileLabel">Escolha o arquivo</label>
    </div>
  </div>
</div>
<div class="progress mb-2">
  <div class="progress-bar" role="progressbar"
       [style.width]=" progress + '%'">{{progress}}%
  </div>
</div>
<button mat-raised-button [disabled]="!selectedFile" (click)='onUpload()'>Enviar</button>

<p class="text-center" [hidden]="!loading">
  <img src="assets/gif/load.gif " alt="Logo" class="mb-2 mt-2" width="50">
</p>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mt-3"  [hidden]="loading">
  <!-- ID Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Arquivo</th>
    <td mat-cell *matCellDef="let row">{{row.arquivo}}</td>
  </ng-container>

  <ng-container matColumnDef="opcoes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let row">
      <a title="Baixar" href="{{s3Url}}{{row.arquivo}}" target="_blank">
        <i class="fas fa-file-download fa-lg "></i>
      </a>
      <a (click)="deleteArquivoOrcamento(row)" class="cursor" title="Deletar">
        <i class="fas fa-trash ml-3 fa-lg"></i>
      </a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns">
  </tr>
</table>
