<div class="scroll-auto">
  <mat-toolbar>
    <span>Editar</span>
    <span class="spacer"></span>
    <a (click)="close()" class="cursor"><i class="fas fa-times"></i></a>
  </mat-toolbar>

  <div class="mt-3">

    <app-tabela-servicos [orcamento]="orcamento"></app-tabela-servicos>
    <div mat-dialog-actions align="end">
      <button mat-raised-button class="font-btn-nav mt-3 width-btn mr-2">Pagar</button>
    </div>

    <app-novo-servico  [orcamento]="orcamento"></app-novo-servico>

  </div>
</div>
