<div class="container justify-content-center d-flex mt-3">
  <a [routerLink]="['/home']">
    <img src="assets/site/logo.png" alt="Logo">
  </a>
</div>
<hr/>

<div class="container text-center color-gray">
  <h2>Somos uma plataforma de tecnologia que intermedia a relação de consumo entre Prestador de Serviços e Clientes
    (individuais ou empresas). O DeCasa vende serviços para a sociedade e encaminha Propostas de trabalho para os
    Prestadores de Serviços que estão cadastrados conosco. Para você receber propostas de trabalho constantemente é
    muito importante você fazer seu cadastro completo conosco e estudar sobre nossa forma de trabalhar. Preencha os
    dados abaixo.
  </h2>
  <br/>
  <!--  <h2>-->
  <!--    Use suas redes sociais: <br class="d-block d-md-none"/>-->
  <!--    <a href="" class="ml-2"> <img src="assets/icones/facebook-icon.png" alt="Facebook"></a>-->
  <!--    <a href="" class="ml-3"> <img src="assets/icones/Instagram-icon.png" alt="Instagram"></a>-->
  <!--    <a href="" class="ml-3"> <img src="assets/icones/google-icon.png" alt="Google"></a>-->
  <!--    <a href="" class="ml-3"> <img src="assets/icones/microsoft-icon.png" alt="Microsoft"></a>-->
  <!--  </h2>-->
  <!--  <br/>-->
  <!--  <h2>ou preencha os dados abaixo </h2>-->
  <!-- Formulário de Cadastro -->
  <div *ngIf="msgError != ''" class="alert alert-danger" role="alert">
    <b>Erro de validação</b>
    <span class="justify-content-center d-flex" [innerHTML]="msgError">
    </span>
  </div>
  <form [formGroup]="profissional" novalidate>
    <div class="row">
      <div class="offset-md-1 col-md-11 col-12">

        <!-- Nome -->
        <div class="form-group row">
          <label for="idNome"
                 class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Nome:</h2>
          </label>
          <div class="col-sm-5 ">
            <input type="text" formControlName="nome" class="form-control" id="idNome"
                   placeholder="Informe seu nome completo">

            <small class="color-red"
                   *ngIf="profissional.controls['nome'].invalid && (profissional.controls['nome'].touched || profissional.controls['nome'].dirty)">
              Nome deve ter no mínimo 5 caracteres .
            </small>
          </div>
        </div>

        <!-- Apelido -->
        <div class="form-group row">
          <label for="idNome"
                 class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Apelido:</h2>
          </label>
          <div class="col-sm-5 ">
            <input type="text" class="form-control" id="idApelido"
                   formControlName="apelido" placeholder="Informe um apelido para ser facilmente encontrado">
          </div>
        </div>

        <!-- Identificação -->
        <div class="form-group row">
          <label for="idNome"
                 class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Identificação:</h2>
          </label>
          <div class="col-sm-3 col-6">
            <input type="text" formControlName="cpf" class="form-control" [textMask]="{mask: cpfMask}" id="idCPf"
                   placeholder="CPF">

            <small class="color-red"
                   *ngIf="profissional.controls['cpf'].invalid && (profissional.controls['cpf'].touched || profissional.controls['cpf'].dirty)">
              CPF inválido.
            </small>
          </div>
          <div class="col-sm-2 col-6">
            <input formControlName="nascimento"
                   type="text" title="Data de Nascimento" [textMask]="{mask: dateMask}" class="form-control" id="idDt"
                   placeholder="Dt Nascimento">
            <small class="color-red"
                   *ngIf="profissional.controls['nascimento'].invalid && (profissional.controls['nascimento'].touched || profissional.controls['nascimento'].dirty)">
              Seleciona a data </small>
          </div>
        </div>

        <!-- Sexo -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Sexo:</h2>
          </label>
          <div class="col-sm-8 justify-content-md-start  d-flex justify-content-center">
            <div class="custom-control custom-radio custom-control-inline mt-2">
              <input formControlName="sexo" type="radio" id="rMasc" name="rSexo" value="1" class="custom-control-input"
                     checked>
              <label class="custom-control-label" for="rMasc">
                <h2>Masculino</h2>
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline mt-2">
              <input formControlName="sexo" value="2" type="radio" id="rFem" name="rSexo" class="custom-control-input">
              <label class="custom-control-label" for="rFem">
                <h2>Feminino</h2>
              </label>
            </div>
            <small class="color-red"
                   *ngIf="profissional.controls['sexo'].invalid && (profissional.controls['sexo'].touched || profissional.controls['sexo'].dirty)">
              Selecione o sexo</small>
          </div>
        </div>

        <!-- Telefone -->
        <div class="form-group row">
          <label for="iTele1" class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Telefones:</h2>
          </label>
          <!--          <div class="col-sm-1 col-2">-->
          <!--            <img src="assets/icones/br.png" alt="Logo" class="float-left">-->
          <!--          </div>-->
          <div
            class="col-md-3 col-sm-8 col-10 offset-1 offset-sm-2 offset-md-0  justify-content-md-start d-flex justify-content-center">
            <input formControlName="celular"  [textMask]="{mask: phoneMask}" type="text" class="form-control"
                   id="iTele1">
            <small class="color-red"
                   *ngIf="profissional.controls['celular'].invalid && (profissional.controls['celular'].touched || profissional.controls['celular'].dirty)">
              Celular inválido</small>
          </div>

          <div
            class="col-md-3 col-sm-8 col-10 mt-2 offset-1 offset-sm-2 offset-md-0   mt-lg-0 justify-content-md-start d-flex justify-content-center">
            <input formControlName="telefone" [textMask]="{mask: phoneMask}" type="text" class="form-control"
                   id="iTele2"
            >
          </div>
        </div>

        <!-- Email -->
        <div class="form-group row">
          <label for="inputEmail"
                 class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Email:</h2>
          </label>
          <div class="col-sm-5 ">
            <input formControlName="email" type="email" class="form-control" id="inputEmail"
                   placeholder="nome@exemplo.com">
            <small class="color-red"
                   *ngIf="profissional.controls['email'].invalid && (profissional.controls['email'].touched || profissional.controls['email'].dirty)">
              E-mail inválido</small>
          </div>
        </div>


        <!-- Atendimento -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Forma de Atendimento:</h2>
          </label>
          <div class="col-sm-8 justify-content-md-start  d-flex justify-content-center">

            <div class="form-check  mt-2 mr-1">
              <input formControlName="domicilio" type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">
                <h2>No endereço do cliente</h2>
              </label>
            </div>
            <div class="form-check  mt-2 ml-1">
              <input formControlName="naoDomicilio" type="checkbox" class="form-check-input" id="exampleCheck2">
              <label class="form-check-label" for="exampleCheck2">
                <h2>No meu ponto comercial</h2>
              </label>

              <small class="color-red ml-1" *ngIf="showAtendimento"> Selecione uma ou as duas opções</small>
            </div>
          </div>
        </div>
        <!-- Tipo de cadastro -->
        <!--        <div class="form-group row">-->
        <!--          <label class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">-->
        <!--            <h2>Tipo de cadastro:</h2>-->
        <!--          </label>-->
        <!--          <div class="col-sm-8 justify-content-md-start  d-flex justify-content-center">-->
        <!--            <div class="custom-control custom-radio custom-control-inline mt-2">-->
        <!--              <input type="radio" id="rInd" name="rInd" class="custom-control-input" checked>-->
        <!--              <label class="custom-control-label" for="rInd">-->
        <!--                <h2>Individual</h2>-->
        <!--              </label>-->
        <!--            </div>-->
        <!--            <div class="custom-control custom-radio custom-control-inline mt-2">-->
        <!--              <input type="radio" id="rEmpresa" name="rEmpresa" class="custom-control-input">-->
        <!--              <label class="custom-control-label" for="rEmpresa">-->
        <!--                <h2>Empresa</h2>-->
        <!--              </label>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <!-- Profissão -->
        <div class="form-group row">
          <label
            class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Escolaridade *:</h2>
          </label>
          <div class="col-sm-6 col-md-5">
            <select formControlName="escolaridade" class="custom-select">
              <option *ngFor="let nivel of formacoes"
                      [value]="nivel.id">{{nivel.descricao}}</option>
            </select>
          </div>
          <div class="col-sm-4 col-md-3" *ngIf="outraProfissao">
            <input type="text" class="form-control  " id="inputProfissao" placeholder="Informe a Profissão">
          </div>
        </div>

        <div class="form-group row">
          <label
            class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Profissões:</h2>
          </label>
          <div class="col-sm-4 col-md-8">
            <mat-form-field class="col-md-8 col-12 col-sm-12 float-md-left">
              <mat-select formControlName="profissoes" multiple>
                <mat-select-trigger>
                  {{profissional.controls.profissoes.value ? profissional.controls.profissoes.value[0].descricao : ''}}
                  <span *ngIf="profissional.controls.profissoes.value?.length > 1" class="example-additional-selection">
        (+{{profissional.controls.profissoes.value.length - 1}} {{profissional.controls.profissoes.value?.length === 2 ? 'outro' : 'outros'}}
                    )
      </span>
                </mat-select-trigger>
                <mat-option *ngFor="let profissao of profissoes"
                            [value]="profissao">{{profissao.descricao}}</mat-option>
              </mat-select>

              <small class="color-red"
                     *ngIf="profissional.controls['profissoes'].invalid && (profissional.controls['profissoes'].touched || profissional.controls['profissoes'].dirty)">
                Selecione no mínimo uma profissao</small>
            </mat-form-field>
          </div>
        </div>


        <!--        Senha -->

        <!-- Email -->
        <div class="form-group row">
          <label for="inputEmail"
                 class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Senha:</h2>
          </label>
          <div class="col-sm-5 ">
            <input type="password" formControlName="senha" class="form-control" id="senha">
            <small class="color-red"
                   *ngIf="profissional.controls['senha'].invalid && (profissional.controls['senha'].touched || profissional.controls['senha'].dirty)">
              Senha inválida - Deve conter no mínimo 5 caracters</small>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group row">
          <label for="inputEmail"
                 class="col-sm-4 col-form-label  justify-content-md-end d-flex justify-content-center">
            <h2>Confirme a Senha:</h2>
          </label>
          <div class="col-sm-5 ">
            <input formControlName="confirmaSenha" type="password" class="form-control" id="confSenha">
            <small  class="color-red" *ngIf="profissional.hasError('notSame')&& (profissional.controls['confirmaSenha'].touched || profissional.controls['confirmaSenha'].dirty)">
              As senhas nao correspondem</small>

          </div>
        </div>


        <!-- Checkbox -->
        <div class="form-group ml-md-5 ml-0">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkOfertas">
            <label class="form-check-label" for="checkOfertas">
              Quero receber ofertas e conteúdos das empresas do Grupo Prado e parceiros
            </label>
          </div>
        </div>

        <div class="form-group ml-md-5 ml-0">
          <div class="form-check">
            <input formControlName="termos" class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck"> <a href="#">
              Concordo com os Termos e Condições de uso e Políticas de Privacidade
            </a>
            </label>
            <small class="color-red"
                   *ngIf="profissional.controls['termos'].invalid && (profissional.controls['termos'].touched || profissional.controls['termos'].dirty)">
              Campo requerido.</small>
          </div>
        </div>

        <div>
<!--          [routerLink]="['/bem-vindo/profissional']"-->
          <button [disabled]="profissional.invalid || validCheckBox()"  (click)="cadastrarCliente()" class="btn btn-primary"
                  >Criar conta
          </button>
          <button (click)="checkData()">data</button>
        </div>
      </div> <!-- Coluna-->
    </div> <!-- linha-->
    <!--Linha-->
  </form>
</div>
<br/>
<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  size="medium"
  template="<img src='assets/gif/load.gif'/>"
>
  <p style="font-size: 20px; color: #0A68AE">Carregando...</p>
</ngx-spinner>
