<div class="container mt-5">
  <h2>Pág. de aceite do prestador</h2>
  <form>
    <div class="field mb-2">
      <label class="label">Nome : </label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Nome"
          name="Nome"
          [(ngModel)]="nome"
        />
      </div>
    </div>

    <div><label>Avaliação: </label></div>
    <div>
      <input
        class="input"
        type="number"
        max="5"
        placeholder="Avaliacao"
        name="Avaliacao"
        [(ngModel)]="avaliacao"
      />
    </div>
  </form>

  <button (click)="submit()" class="btn btn-primary mt-2">
    Aceitar
  </button>
</div>

